<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB2buiJNcx_7KPj7JrhY12b7plp9yBkg2M</string>
	<key>GCM_SENDER_ID</key>
	<string>420229068360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.refraneroApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>refranero-5e0b2</string>
	<key>STORAGE_BUCKET</key>
	<string>refranero-5e0b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420229068360:ios:900a1bf03e5870a83d8a7d</string>
</dict>
</plist>